$("#follow_form").html("<%= current_user.pending?(@user) ? escape_javascript(render('users/cancel')) : escape_javascript(render('users/unfollow')) %>");
$("#followers").html('<%= @user.followers.where("pending = ?", false).count  %>');