<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% elsif current_user.pending?(@user)%>
    <%= render 'cancel' %>
   <% else%>
   	<%= render 'follow' %>
  <% end %>
  </div>
<% end %>