<li>
 <div class="row">
	<div class="col-sm-6">
  		<%= gravatar_for user, size: 50 %>
  		<%= link_to user.name, user %>

    	<% if @title == "Users" && (can? :destroy, user) %>
    | 	<%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  		<% end %>

    <% if @title == "Users" && (can? :update, user) && !current_user?(user)  %>
        | 	<%= link_to "Imitate", imitate_path(:user_id => user.id),method: :post %>
    <% end %>

     <% if  @title == "Users" && !current_user?(user) &&  real_current_user==user  %>
        |   <%= link_to "Imitate back", imitate_path(:user_id => user.id),method: :post %>
    <% end %>
  	</div>

 <% if  @title == "Pending" && current_user?(@user) %>
	<div class="col-sm-3">

  		<%= form_for(Relationship.find_by(follower_id: user.id,followed_id: current_user.id),
             html: { method: :put }) do |f| %>
  		<%= hidden_field_tag :todo, :accept %>
  		<%= f.submit "Accept",  :class => 'btn btn-success' %>
		<% end %>
 	</div>

	<div class="col-sm-3">
  		<%= form_for(Relationship.find_by(follower_id: user.id,followed_id: current_user.id),
             html: { method: :put }) do |f| %>
  		<%= hidden_field_tag :todo, :reject %>
  		<%= f.submit "Decline",  :class => 'btn btn-danger' %>
		<% end %>
 	</div>

<% end %>

 </div>
</li>
