<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? && @microposts %>
      <h3><%=I18n.t 'microposts_c'%> (<%= @microposts.count %>)</h3>
      <ol class="microposts" >
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
      <% else%>
      <h2><%=I18n.t 'no_posts'%></h2>
    <% end %>
  </div>
</div>