<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
     <%= f.select :visibility ,Micropost.visibilities.keys, {}, {class: "form-control"}  %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">

  </span>
<% end %>
