<% @user ||= current_user %>
<div class="stats">

  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>

  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.where("pending = ?", false).count %>
    </strong>
    followers
  </a>
<% if current_user?(@user) && @user.private_profile? %>
  <a href="<%= pending_user_path(@user) %>">
    <strong id="pending" class="stat">
      <%= @user.followers.where("pending = ?", true).count %>
    </strong>
    pending
  </a>
  <% end %>

</div>