<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>

  </span>
  <span class="timestamp">
    <%=I18n.t 'posted'%>  <%= time_ago_in_words(micropost.created_at) %> <%=I18n.t 'ago'%>
    <% if can? :destroy, micropost %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
<% @micropost=micropost%>
<%= render 'microposts/reaction_forms' %>

</li>