


<table class="table table-striped">
	<thead>
	  <tr>
		<th><%= sort_link(@posts, :id,'Post id') %></th>
		<th><%= sort_link(@posts, :content,'Content') %></th>
		<th><%= sort_link(@posts, :user_id,'User id') %></th>
		<th><%= sort_link(@posts, :user_name,'User Name') %></th>
		<th><%= sort_link(@posts, :visibility,'Visibility') %></th>
		<th><%= sort_link(@posts, :created_at,'Created') %></th>
		<th>Edit</th>
		<th>Delete / Restore</th>
	  </tr>
	</thead>
	<tbody>

	<%@posts.result.each do |p|%>

		<tr>
	   	    <td><%= p.id %></td>
	        <td><%= p.content %></td>
	        <td><%= p.user_id %></td>
	        <td><%= p.user.name %></td>
	        <td><%= p.visibility %></td>
	        <td><%= p.created_at %></td>
	        <td><button type="button" class="btn btn-info">Edit</button></td>
	        <%if p.paranoia_destroyed?%>
	        	<td><button type="button" class="btn btn-danger">Delete</button></td>
	        <% else %>
	        	<td><button type="button" class="btn btn-success">Restore</button></td>
	        <% end %>
		</tr>

	<% end%>
	</tbody>
</table>