<div class="microposts">

<%= search_form_for @posts do |f| %>
  
  <div class="row">
    <div class="col-sm-6">
    	<%= f.label :content %>
    	<%= f.search_field :content_cont , { :class => 'form-control' }%>
    </div>
    <div class="col-sm-6">
    	<%= f.label :user_name %>
    	<%= f.search_field :user_name_cont, { :class => 'form-control' } %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
    	<%= f.label :created_from %>
    	<%= f.search_field :created_at_gteq, { :class => 'form-control' } %>
    </div>
    <div class="col-sm-6">
    	<%= f.label :created_to %>
    	<%= f.search_field :created_at_lteq, { :class => 'form-control' } %>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12">
    	<%= f.submit "search" ,{ :class => 'btn btn-primary' } %>   
    </div>
  </div>
  
<% end %>   

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#all">All</a></li>
    <li><a data-toggle="tab" href="#deleted">Deleted</a></li>
    <li><a data-toggle="tab" href="#not_deleted">Not deleted</a></li>
  </ul>

  <div class="tab-content">
    



