
<span class="reactions">
<div class="row">


<% @actual_reaction = Reaction.new %>

<% tmp=@micropost.reaction.where("user_id = ?", current_user.id).first  %>
<% @actual_reaction = tmp if tmp %>

<div class="col-sm-4">
	<% Reaction.reaction_types.each  do | reaction_text,reaction_type|%>
    <%=reaction_text %> 
    <span class="badge">
    <%= @micropost.reaction.where("reaction_type= ?", reaction_type).count.to_s %> 
    </span>
    <% end %>
</div>


<div class="col-sm-8">	
	<% Reaction.reaction_types.keys.each  do | possible_reaction|%>

		<%= link_to possible_reaction, react_micropost_path(@micropost, r_typ: possible_reaction ) , method: :post ,:class => @actual_reaction.reaction_type==possible_reaction ?  'btn btn-primary' : 'btn btn-default'%>

	<% end %>
</div>



</div>
</span>
