<% provide(:title, 'Microposts') %>
<h1>Microposts</h1>


<%= render 'microposts/micropost_admin_header'%>

<div id="all" class="tab-pane fade in active">
	<%= render 'microposts/micropost_admin_table'%>
</div>
<div id="deleted" class="tab-pane fade">
	<%= render 'microposts/micropost_admin_table'%>
</div>
<div id="not_deleted" class="tab-pane fade">
	<%= render 'microposts/micropost_admin_table'%>
</div>


</div>
</div>
</div>

